SportScraping/ControlCenter/TQI.ControlCenter.Logic/Connected Services/NBAScrapping/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://TQI.Scrape.NBA.ServiceScheduler" elementFormDefault="qualified" targetNamespace="http://TQI.Scrape.NBA.ServiceScheduler" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="providerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProgressResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>